{% extends 'base.html.twig' %}

{% block body %}
    <div id="home" class="page-header" data-parallax="true" style="background-image: url('../assets/img/daniel-olahh.jpg');">
        <div class="filter"></div>
        <div class="container">
            <div class="motto text-center">
                <h1>Example page</h1>
                <h3>Start designing your landing page here.</h3>
                <br />
            </div>
        </div>
    </div>
    <div class="main">
        {#<div class="section  text-center" id="nosotros">#}
            {#<div class="container">#}
                {#<div class="row">#}
                    {#<div class="col-md-8 offset-md-2">#}
                        {#<h2 class="title">¿Quiénes somos?</h2>#}
                        {#<h5 class="description">Magenta Studio Creativo es una empresa con un concepto joven reinventándose constantemente basado#}
                            {#en valores de confidencialidad, responsabilidad e innovación. Nos actualizamos con las tendencias#}
                            {#de nuestro sector ofreciendo a nuestros clientes un portafolio integral de servicios, que les#}
                            {#permita impulsar sus negocios y expandirse en su mercado. Como empresa de diseño y marketing#}
                            {#digital te ayudaremos a mejorar la imagen de tu marca, producto o servicio para que llegue a#}
                            {#la mente de los consumidores. Si bien, es cierto que el éxito de un producto o servicio se debe#}
                            {#a su calidad, también es cierto que el diseño gráfico puede ayudar a mostrarlos de mejor manera#}
                            {#a tus futuros clientes, con lo que mejorarás la presentación y llamarás la atención.</h5>#}
                        {#<br>#}
                    {#</div>#}
                {#</div>#}
                {#<br/><br/>#}


            {#</div>#}
        {#</div>#}
        <div class="section section-about-us">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 ml-auto mr-auto text-center">
                        <h2 class="title">¿Quiénes somos?</h2>
                        <h5 class="description">Magenta Studio Creativo es una empresa con un concepto joven reinventándose constantemente
                            basado en valores de confidencialidad, responsabilidad e innovación.</h5>
                    </div>
                </div>
                <div class="separator separator-primary"></div>
                <div class="section-story-overview">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="image-container image-left" style="background-image: url('https://www.flowebdesign.ie/library/slides/webdesign_portfolio.jpg')">
                                <!-- First image on the left side -->
                                <p class="blockquote blockquote-primary">"
                                    Nos actualizamos con las tendencias de nuestro sector ofreciendo a nuestros clientes un portafolio
                                    integral de servicios, que les permita impulsar sus negocios y expandirse en su mercado   "                                 <br>
                                    <br>
                                    </p>
                            </div>
                            <!-- Second image on the left side of the article -->
                            <div class="image-container " style="background-image: url('https://www.elegantthemes.com/blog/wp-content/uploads/2016/03/tips-optimizing-design-for-mobile-thumbnail.png')"></div>
                        </div>
                        <div class="col-md-5">
                            <!-- First image on the right side, above the article -->
                            <div class="image-container image-right " style="background-image: url('https://www.rocketspark.com/application/files/2614/9679/0808/mobile-egs2.jpg')"></div>
                            {#<h3>Nos actualizamos con las tendencias de nuestro sector ofreciendo a nuestros clientes un portafolio#}
                                {#integral de servicios, que les permita impulsar sus negocios y expandirse en su mercado.</h3>#}
                            <h3> Magenta Studio Creativo</h3>
                            <p>Como empresa de diseño y marketing digital te ayudaremos a mejorar la imagen de tu marca,
                                producto o servicio para que llegue a la mente de los consumidores.
                            </p>
                            <p>
                                Si bien, es cierto que el éxito de un producto o servicio se debe a su calidad, también es cierto que
                                el diseño gráfico puede ayudar a mostrarlos de mejor manera a tus futuros clientes, con lo que
                                mejorarás la presentación y llamarás la atención.                            </p>
                            <p>
                                Nuestra misión es cubrir las necesidades gráficas y estrategias de difusión de nuestros clientes con
                                servicios y productos de calidad, siempre con la meta de superar sus expectativas.
                                todo bajo un esquema de innovación, visión, creatividad y compromiso, aprovechando al máximo
                                los recursos con los que dispone el cliente.                            </p>
                            <p>
                                Nuestra visión es convertirnos en una agencia de diseño gráfico publicitario y marketing digital
                                reconocida a nivel nacional por la completa, innovadora y alta calidad de sus trabajos.
                                Somos un grupo de profesionales del diseño gráfico, la publicidad, el marketing y la comunicación,
                                dispuestos a proporcionar a nuestros clientes herramientas de desarrollo creativo del más alto
                                nivel.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="section section-dark text-center" id="informacion">
            <div class="container">
                <h2 class="title">Servicios</h2>
                <div class="row">
                    <div class="col-md-3">
                        <div class="card card-profile card-plain">
                            <div class="card-avatar">
                                <a href="#avatar"><img   src="../assets/img/Diseño Web_Mesa de trabajo1.png" alt="..."></a>
                            </div>
                            <div class="card-block">
                                <a href="#paper-kit">
                                    <div class="author">
                                        <h4 class="card-title">Consultoría de diseño gráfico</h4>
                                    </div>
                                </a>
                                <p class="card-description text-center">
                                    Cuando se inicia un proyecto es común tener dudas o problemas para identificar cuáles serán los canales adecuados para promocionar
                                    un proyecto, como profesionales en el diseño gráfico y marketing digital te ayudaremos
                                    a crear una estrategia funcional para lograrlo.
                                </p>
                            </div>
                            <!-- <div class="card-footer text-center">
                                <a href="#pablo" class="btn btn-link btn-just-icon btn-neutral"><i class="fa fa-twitter"></i></a>
                                <a href="#pablo" class="btn btn-link btn-just-icon btn-neutral"><i class="fa fa-google-plus"></i></a>
                                <a href="#pablo" class="btn btn-link btn-just-icon btn-neutral"><i class="fa fa-linkedin"></i></a>
                            </div> -->
                        </div>
                    </div>

                    <div class="col-md-3">
                        <div class="card card-profile card-plain">
                            <div class="card-avatar">
                                <a href="#avatar"><img src="../assets/img/Identidad Corporativa_Mesa de trabajo 1.png" alt="..."></a>
                            </div>
                            <div class="card-block">
                                <a href="#paper-kit">
                                    <div class="author">
                                        <h4 class="card-title">Imagen corporativa</h4>
                                    </div>
                                </a>
                                <p class="card-description text-center">
                                    El éxito de una marca comienza por el diseño del logotipo que logrará que tu empresa sea conocida fácilmente, además de proporcionarle
                                    un sinónimo de calidad a tus productos. A través de un manual de identidad corporativa
                                    el cliente conocer los usos y aplicaciones más adecuados que puede implementar en su
                                    marca y no alterarla.
                                </p>
                            </div>

                        </div>
                    </div>

                    <div class="col-md-3 ">
                        <div class="card card-profile card-plain">
                            <div class="card-avatar image">
                                <a href="#avatar"><img src="../assets/img/Material Publicitario_Mesa de trabajo 1.png" alt="..."></a>
                            </div>
                            <div class="card-block">
                                <a href="#paper-kit">
                                    <div class="author">
                                        <h4 class="card-title">Diseño y desarrollo de página web.</h4>
                                    </div>
                                </a>
                                <p class="card-description text-center">
                                      Este servicio
                                    cuenta con 3 opciones con base en los resultados del análisis mencionado anteriormente,
                                    a continuación, se mencionan dichas opciones:
                                    <br> <br>


                                </p>
                                <p class="text-center text-white">
                                    Diseño web básico. <br> Diseño web avanzado. <br> Diseño web personalizado. <br>
                                </p>
                            </div>

                        </div>
                    </div>
                    <div class="col-md-3 ">
                        <div class="card card-profile card-plain">
                            <div class="card-avatar ">
                                <a href="#avatar"><img src="../assets/img/RS_Mesa de trabajo 1.png" alt="..."></a>
                            </div>
                            <div class="card-block">
                                <a href="#paper-kit">
                                    <div class="author">
                                        <h4 class="card-title">Administración de redes sociales.</h4>
                                    </div>
                                </a>
                                <p class="card-description text-center">
                                    Ofrecemos un servicio de marketing digital con el cual apoyamos a nuestros clientes que desean dar a conocer su negocio,
                                    producto o servicio en los diferentes medios digitales. <br>                                    <br> Esto se realiza a través de un análisis de mercado el cual nos permite conocer los
                                    medios adecuados para difundir la marca, ganar seguidores y lograr un posicionamiento
                                    entre los usuarios de dichos medios.
                                </p>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="section gallery  " id="portfolio">
            <div class="container">
                <h1 class="text-center">LO QUE HEMOS ECHO</h1>
                <br><br>
                <div class="row example-page">
                    <div class="col-md-4 text-center">
                        <figure class="hover">
                            <img src="https://images.unsplash.com/photo-1443890923422-7819ed4101c0?crop=entropy&fit=crop&fm=jpg&h=400&ixjsv=2.1.0&ixlib=rb-0.3.5&q=80&w=600"
                                 alt="Rounded Image" class="img-rounded img-responsive">
                        </figure>
                    </div>
                    <div class="col-md-4 text-center">
                        <figure class="hover">
                            <img src="https://images.unsplash.com/photo-1443890923422-7819ed4101c0?crop=entropy&fit=crop&fm=jpg&h=400&ixjsv=2.1.0&ixlib=rb-0.3.5&q=80&w=600"
                                 alt="Rounded Image" class="img-rounded img-responsive">
                        </figure>
                    </div>
                    <div class="col-md-4 text-center">
                        <figure class="hover">
                            <img src="https://images.unsplash.com/photo-1443890923422-7819ed4101c0?crop=entropy&fit=crop&fm=jpg&h=400&ixjsv=2.1.0&ixlib=rb-0.3.5&q=80&w=600"
                                 alt="Rounded Image" class="img-rounded img-responsive">
                        </figure>
                    </div>
                    <div class="col-md-4 text-center">
                        <figure class="hover">
                            <img src="https://images.unsplash.com/photo-1443890923422-7819ed4101c0?crop=entropy&fit=crop&fm=jpg&h=400&ixjsv=2.1.0&ixlib=rb-0.3.5&q=80&w=600"
                                 alt="Rounded Image" class="img-rounded img-responsive">
                        </figure>
                    </div>
                    <div class="col-md-4 text-center">
                        <figure class="hover">
                            <img src="https://images.unsplash.com/photo-1443890923422-7819ed4101c0?crop=entropy&fit=crop&fm=jpg&h=400&ixjsv=2.1.0&ixlib=rb-0.3.5&q=80&w=600"
                                 alt="Rounded Image" class="img-rounded img-responsive">
                        </figure>
                    </div>
                    <div class="col-md-4 text-center">
                        <figure class="hover">
                            <img src="https://images.unsplash.com/photo-1443890923422-7819ed4101c0?crop=entropy&fit=crop&fm=jpg&h=400&ixjsv=2.1.0&ixlib=rb-0.3.5&q=80&w=600"
                                 alt="Rounded Image" class="img-rounded img-responsive">
                        </figure>
                    </div>
                </div>
            </div>
        </div>

        <div class="section section-gray" id="contacto">
            <div class="container">
                <div class="row">

                    <div class="col-md-8 offset-md-2">

                        <form class="contact-form">
                            <h2 class="text-center">Quieres contactarte?</h2>
                            <br>
                            <h6 class="text-right">Ciudad de México, México</h6>

                            <div class="row">
                                <div class="col-md-6">
                                    <label>Nombre</label>
                                    <div class="input-group">
                                        <span class="input-group-addon">
	                                            <i class="nc-icon nc-single-02"></i>
	                                        </span>
                                        <input type="text" class="form-control" placeholder="Nombre">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <label>Email</label>
                                    <div class="input-group">
                                        <span class="input-group-addon">
												<i class="nc-icon nc-email-85"></i>
											</span>
                                        <input type="text" class="form-control" placeholder="Email">
                                    </div>
                                </div>
                                <div class="col-md-6 ">
                                    <label>Asunto</label>
                                    <div class="input-group">
                                            <span class="input-group-addon">
                                                    <i class="nc-icon nc-bookmark-2"></i>
                                                </span>
                                        <input type="text" class="form-control" placeholder="Email">
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <label>Tipo de servicio de interés</label>
                                    <div class="input-group">
                                        <span class="input-group-addon">
                                                        <i class="nc-icon nc-briefcase-24"></i>
                                                    </span>
                                        <select class="form-control">
                                            <option value="volvo">Consultoría en diseño grafico</option>
                                            <option value="saab">Imagen corporativa</option>
                                            <option value="mercedes">Diseño y desarrollo de página web</option>
                                            <option value="audi">Administración de redes sociales.</option>
                                        </select>
                                    </div>
                                </div>


                            </div>
                            <label>Texto</label>
                            <textarea class="form-control" rows="4" placeholder="Cuetanos tus dudas"></textarea>
                            <div class="row">
                                <div class="col-md-4 offset-md-4">
                                    <button class="btn btn-danger btn-lg btn-fill">Send Message</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-fluid " id="flota">
            <div class="row">
                <div class="col-md-12">

                    <div class="btn-group">
                        <a href="https://api.whatsapp.com/send?phone=3584837484" class="btn btn-success btn-fab" id="main">
                            <i class="fa fa-whatsapp">
                            </i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer class="footer  main">
        <div class="container">
            <div class="row">
                <nav class="footer-nav">
                    <ul>
                        <li class="nav-item ">
                            <a href="https://api.whatsapp.com/send?phone=3584837484">                            <i class="fa fa-whatsapp "></i>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" rel="tooltip" title="Follow us on Twitter" data-placement="bottom" href="https://twitter.com/CreativeTim"
                               target="_blank">
                                <i class="fa fa-twitter"></i>
                                <p class="hidden-lg-up"></p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" rel="tooltip" title="Like us on Facebook" data-placement="bottom" href="https://www.facebook.com/CreativeTim"
                               target="_blank">
                                <i class="fa fa-facebook-square"></i>
                                <p class="hidden-lg-up"></p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" rel="tooltip" title="Follow us on Instagram" data-placement="bottom" href="https://www.instagram.com/CreativeTimOfficial"
                               target="_blank">
                                <i class="fa fa-instagram"></i>
                                <p class="hidden-lg-up"></p>
                            </a>
                        </li>
                    </ul>
                </nav>
                <div class="credits ml-auto">
                    <span class="copyright">
						© <script>document.write(new Date().getFullYear())</script>, Creada por  <span class="text-danger">Ml</span>webs
					</span>
                </div>
            </div>
        </div>
    </footer>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('assets/js/jquery-3.2.1.js') }}"></script>
    <script src="{{ asset('assets/js/jquery-ui-1.12.1.custom.min.js') }}"></script>
    <script src="{{ asset('assets/js/tether.min.js') }}"></script>
    <script src="{{ asset('assets/js/bootstrap.min.js') }}"></script>
    <script src="{{ asset('assets/js/paper-kit.js?v=2.0.0') }}"></script>
    <script>
        popup = {
            init: function () {
                $('figure').click(function () {
                    popup.open($(this));
                });

                $(document).on('click', '.popup img', function () {
                    return false;
                }).on('click', '.popup', function () {
                    popup.close();
                })
            },
            open: function ($figure) {
                $('.gallery').addClass('pop');
                $popup = $('<div class="popup" />').appendTo($('body'));
                $fig = $figure.clone().appendTo($('.popup'));
                $bg = $('<div class="bg" />').appendTo($('.popup'));
                $close = $('<div class="close"><svg><use xlink:href="#close"></use></svg></div>').appendTo($fig);
                $shadow = $('<div class="shadow" />').appendTo($fig);
                src = $('img', $fig).attr('src');
                $shadow.css({ backgroundImage: 'url(' + src + ')' });
                $bg.css({ backgroundImage: 'url(' + src + ')' });
                setTimeout(function () {
                    $('.popup').addClass('pop');
                }, 10);
            },
            close: function () {
                $('.gallery, .popup').removeClass('pop');
                setTimeout(function () {
                    $('.popup').remove()
                }, 100);
            }
        }

        popup.init()

    </script>

    <script>
        $(function(){
            $(window).scroll(function(){
                if ($(window).scrollTop() > 3830)
                {
                    $("#flota").fadeOut();
                }
                else
                {
                    $("#flota").fadeIn();
                }
            });
        });
    </script>
{% endblock %}
